body {
	padding: 0;
	margin: 0;
	font-family: 'Sarala', sans-serif;
	 width: 100%;
	
	background: rgb(248, 213, 213);
}

.wrapper{
	margin: 0 auto;
}
.wrapper1{
	padding-top: 150px;
}
header {

	position: absolute;
	width: 100%;
	background: #F0A5A5;
	height: 140px; 
	border-radius: 0 0 20px 20px;
	justify-content: center;

}
.all {
	display: flex;
	justify-content: space-between;	
	margin: 35px 65px 5px 10px; /* Отступы */
}
.bt{
	display: inline;
 
}
.img2{
	 position: relative; top: -120px; right: -55px;
}
.p01{
	 position: relative; top: -20px; right: 55px;

}
.bt2{
	margin-top: 5px;
	background-color: rgb(248, 213, 213);
    color: black;
    border: 2px solid #DA8F8F; 
    border-radius: 12px;
    padding: 6px 12px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
    position: relative; top: 0px; right: 55px;


}

.bt2:hover {
    background-color:#DA8F8F ;
    color: white;
}
.tab{
margin: 45px 0px 5px 10px;
}
.icons{
	float: right;
	margin: 15px;
	position: relative;
}
.page{
	padding-left: 100px;
	padding-right: 100px;
}
.catalog_sorter{
	font-size: 20px;
	padding-top: 30px;
}
.rating{
	font-size: 40px
}
.block1{
	justify-content: space-around;
	display: flex; 
	vertical-align: top;      
	
}
.block2{
	justify-content: space-around;
	display: flex; 
	vertical-align: top;      
	
}
.block3{
	justify-content: space-around;
	display: flex; 
	vertical-align: top;      
	
}
.block4{
	justify-content: space-around;
	display: flex; 
	vertical-align: top;      
	
}

.product-title{
	margin-top: 20px;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0px;
	
}


.img1{
	display: block;

}
.name{
	background-image: url(../img/forwww.png);
	display: block;
	background-repeat: no-repeat;
	padding: 0px 25px;
	line-height: 20px;

}
.vender{
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
	padding-top: 10px;

}
.www{
	font-size: 14px;
	margin-left: 8px;
	padding-bottom: 10px;
}
.sale{
	background-image: url(../img/forsale.png);
	display: block;
	background-repeat: no-repeat;
	margin-left: 200px;
	line-height: 10px;
  padding: 7px; 
  position: relative; top: -120px; left: 55px;
	
}
.product-sale{
	margin-left: 13px;
	font-size: 30px;
	font-weight: 700;
}
.before{
	margin-left: 15px;
	font-size: 12px;
}
.namesale{
	position: relative; top: -65px; left: -55px;
}
.about{
	display: block;
	font-size: 12px;
	width: 280px;
	border-style: solid;
	padding: 10px;
	border-radius:26px 26px 26px 26px ;
	border: 2px solid #F0A5A5; 
	background: #F0A5A5;
	position: relative; top: -180px; left: -20px;
}
.comment{
	display: block;
	font-size: 12px;
	width: 280px;
	border-style: solid;
	padding: 10px;
	border-radius:26px 26px 26px 26px ;
	border: 2px solid #F0A5A5; 
	background: #F0A5A5;
	position: relative; top: -150px; left: -20px;
}
.p1{
	font-size: 15px;
	font-weight: 700;
}
.star1{
	position: relative; top: -140px; left: -20px;
}
.p2{
	font-size: 15px;
	font-weight: 700;
}




footer{
	margin-top: auto;
	width: 100%;
	height: auto;
	background: #F0A5A5;
	border-radius: 20px 20px 0 0;
	text-align: center;
	font-family:'Ravi Prakash' ;
}
.FM{
	font-size: 34px;
	margin: 0;
}
.me{
	font-size: 18px;
	margin: 0;
}
.bt1{
	font-size: 19px;
	margin-top: 5px;
	background-color: rgb(248, 213, 213);
    color: black;
    border: 2px solid #DA8F8F; 
    border-radius: 12px;
    padding: 6px 12px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
    position: relative; 
    left: 50%; bottom: 75px;

}
